.hero{
    min-height: 100vh;
    width: 100%;
    background-image: url(../hero/heroBg.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heroText{

    color: var(--white);
    font-family: "Audiowide", sans-serif;
    font-size: 18rem;
    text-align: center;
}

