<header>
    <div class="headerBg">
        <div class="wrapper headerContainer">
            <h1 class="headerTitle">
                outSider( )
            </h1>
            <nav>
                <ul class="navLinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Loja</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
