header{
  position: absolute ;
  width: 100% ;
}

/* .headerBg {
  background-color: var(--black);
} */
.headerContainer {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.headerTitle {
  font-family: "audiowide", sans-serif;
  font-size: 2.5rem;
}

header a {
  text-decoration: none;
  color: var(--white);
}

.navLinks {
  font-family: "audiowide", sans-serif;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}