@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #171717;
  --white: #fff;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

.btn{
    padding: 1rem 2rem;
    text-align: center;
    border: none;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color: var(--white);
    color: var(--black);
}
